<div class="row">
  <div class="col">
    <h1>演奏者を編集する</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render partial: 'form', locals: {performer: @performer, submit_button_value: '更新する'} %>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="text-right">
      <%= link_to 'この演奏者を削除する', performer_path(@performer), method: :delete, data: {confirm: '削除します。よろしいですか？'}, class: 'btn btn-danger btn-sm' %>
    </p>
  </div>
</div>
