<div class="row">
  <div class="col">
    <h1>演奏者を追加する</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render partial: 'form', locals: {performer: @performer, submit_button_value: '作成する'} %>
  </div>
</div>
