<div class="row">
  <div class="col">
    <h1>楽器を追加する</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render partial: 'form', locals: { instrument: @instrument, submit_button_value: '作成する' } %>
  </div>
</div>
